# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*/.vscode/*

symmetric-encryption/aes-cbf
symmetric-encryption/1k-aes.dat
symmetric-encryption/1k-aes-dec.txt
symmetric-encryption/10k-aes.dat
symmetric-encryption/10k-aes-dec.txt
symmetric-encryption/large-binary-aes.dat
symmetric-encryption/large-binary-aes-dec.MP4

symmetric-encryption/aes-cbc
symmetric-encryption/1k-cbc.dat
symmetric-encryption/1k-cbc-dec.txt
symmetric-encryption/10k-cbc-dec.txt
symmetric-encryption/10k-cbc.dat
symmetric-encryption/large-binary-cbc.dat
symmetric-encryption/large-binary-cbc-dec.MP4

symmetric-encryption/camellia-cbc
symmetric-encryption/1k-cam.dat
symmetric-encryption/1k-cam-dec.txt
symmetric-encryption/10k-cam.dat
symmetric-encryption/10k-cam-dec.txt
symmetric-encryption/large-binary-cam.dat
symmetric-encryption/large-binary-cam-dec.MP4

symmetric-encryption/aria-cbc
symmetric-encryption/1k-ari.dat
symmetric-encryption/1k-ari-dec.txt
symmetric-encryption/10k-ari.dat
symmetric-encryption/10k-ari-dec.txt
symmetric-encryption/large-binary-ari.dat
symmetric-encryption/large-binary-ari-dec.MP4

*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log

docs/h1.pdf.age
docs/h1-decripted.pdf
docs/h2-decripted.pdf
docs/h2.pdf.age
docs/key.txt
h4/Log 2024 CS - 2024 syllabus.pdf.p7m
h4/Log 2024 CS - 2024 syllabus.pdf.pdf
h4/cert-sign-non-repudiation.txt
h4/senders-cert.pem
h4/smime.p7m
h4/bla.pdf
